/* app.js style */
* {
  direction: rtl;
}
.container-fluid {
  display: flex;
  justify-content: center;
  justify-items: center;
}
/* Grid style */
.grid-component {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  height: 75vh;
  .grid {
    width: 100%;
    height: 75vh;
    overflow-x: auto;

    table {
      width: fit-content;
      border: 2px solid lightgray;
      border-radius: 5px;
      text-align: center;
      tbody {
        overflow-y: auto;
      }
      thead {
        position: sticky;
        top: 0;
        /* background-color: #f2f2f2; */
        z-index: 1;
      }
      input {
        width: fit-content;
        max-width: 150px;
      }
      input::after{
        width: fit-content;
        max-width: 150px;
      }
      select {
        width: 150px;
      }
      th,
      td {
        border: 1px solid #ddd;
        height: 40px;
        padding: 5px;
      }
      td {
        text-align: right;
        min-width: 100px;
        max-width: 200px;
        /* word-wrap: break-word; */
      }
      th {
        background-color: #e4e7ec;
      }
      tr:hover {
        background-color: #eaf5fa;
      }
      .Actions {
        height: inherit;
        .action-cont {
          display: flex;

          height: inherit;
          justify-content: space-around;
        }
      }

      button {
        width: fit-content;
        font-size: 14px;
        font-family: "Times New Roman", Times, serif;
        font-weight: 600;
        padding: 3px 6px;
        min-width: 70px;
        border-radius: 5px;
        margin: auto 5px;
        /* margin-top: auto;
        margin-bottom: auto; */
        border: none;
      }
      .Edit {
        background-color: #e4edf2;
        color: #227099;
      }
      .Delete {
        background-color: #f9eaeb;
        color: #f15555;
      }
      .Save {
        background-color: #e8f0ee;
        color: #428c71;
      }
      .Add {
        background-color: #227099;
        color: white;
      }
    }
    .select{
      width: 150px;
    }
  }
  .table-Navigation {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    position: sticky;
    z-index: 2;
    bottom: 0;
    left: 0;
    bottom: 0;

    .container {
      justify-content: center;
      justify-items: center;
      text-align: center;
      input {
        width: 35px;
        height: 35px;
        padding: 5px;
        margin: 5px 10px;
        border: none;
        text-align: center;
      }
      p {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}
